html, body {
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.icon-bar {
    color: black;
    border-color: black;
    background-color: black;
  }

/* Navbar */
.navbar {
    line-height: 1.2em;
    font-size: 18px;
    margin-bottom: 5px;
    border-bottom: 1px solid #3097D1;
}

.navbar-nav > li > a , .navbar-header > a {
    font-weight: 600;
}

.navbar-light {
    background-color: #fff;    
}

.carousel img {
    width: 100%;
    max-height: 730px;
}

.navbar-brand {
    font-size: 22px;
}
/* Navbar */

/* Welcome Page */

header {
    width: 100%;
    height: 45vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    /* background-attachment: fixed; */
    background-image: url('../image/background.jpg');
    text-align: center;
    color: white;
}

header .header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%;
    top: -13%;    
}

header .header-content .header-content-inner h1 {
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 40px;
}

header .header-content .header-content-inner h2 {
    font-weight: 500;
}

.form-input {
    width: 60%;
    display: block;
    margin: auto;
    border-radius: 2rem;
    padding: .7rem;
    color: #000;
    box-shadow: 1px 2px rgba(0,0,0,0.5);
}

.form-group .btn-form {
    margin-top: 10px;
    width: 30%;
    border-radius: 2rem;
    box-shadow: 1px 2px rgba(0, 94, 255, 0.50);    
}

@media (min-width: 767px) {
    header {
        height: 60vh;
    }
    header .header-content {
        position: absolute;
        top: 40%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0 50px;
    }
    header .header-content .header-content-inner {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    header .header-content .header-content-inner h1 {
        font-size: 60px;
    }
    .form-group .btn-form {
        width: 20%;   
    }
}
/* Welcome Page */

/* Login Page */
.panel {
    margin-top: 50px;
    margin-bottom: 50px;
}
/* Login Page */

/* Footer */
#myFooter {
    background-color: #fff;
    color: #000;
    border-top: 1px solid #3097D1;
    margin-top: 5px;    
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .info{
    text-align: justify; 
    color: #333;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter .logo{
    margin-top: 10px;
}

#myFooter .second-bar .logo a{
    color:black;
    font-size: 28px;
    float: left;
    font-weight: bold;
    line-height: 68px;
    margin: 0;
    padding: 0;
}

#myFooter a {
    color: #333;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: black;
}

#myFooter .second-bar {
    text-align: center;
    background-color: #fff;
    text-align: center;
}

#myFooter .second-bar a {
    font-size: 22px;
    color: #333;
    padding: 10px;
    transition: 0.2s;
}

@media screen and (max-width: 767px) {
    #myFooter, #myFooter .info, #myFooter .second-bar{
        text-align: left;
    }
}
/* Footer */